:root {
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;

}

body {
    background: rgba(5, 16, 39, 1);
    overflow: hidden;
}

main {
    height: 70vh;
    width: 100vw;
}

footer {
    height: 30vh;
    width: 100vw;
    background: white;
}

header {
    height: 7rem;
    width: 100vw;
    display: flex;
    justify-content:space-between;
}

.nav-list-options ul{
    display: flex;
    height: 4rem;
    width: 45rem;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-list-login  ul{
    height: 4rem;
    width: 45rem;
    display: flex;
    justify-content: space-between;
    text-align: right;
    
}

.nav-list-login {
    margin-right: 6rem;
}


.circle-one {
    position: absolute;
    top: -10rem;
    left: -30rem;
    border-radius: 50%;
    width: 49rem;
    height: 49.4rem;
    background-color: aqua;
    z-index: -1;
}

.circle-two {
    position: absolute;
    top: -20rem;
    right: -24rem;
    border-radius: 50%;
    width: 49rem;
    height: 49.4rem;
    background-color: silver;
    z-index: -1;
}
.circle-three {
    position: absolute;
    bottom: 0;
    right: -24rem;
    border-radius: 50%;
    width: 49rem;
    height: 49.4rem;
    background-color: rgb(89, 0, 255);
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

li {
    list-style: none;
}