:root {
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
}
body {
    background: rgba(5, 16, 39, 1);
    overflow: hidden;
}
main {
    height: 70vh;
    width: 100vw;
}
footer {
    height: 30vh;
    width: 100vw;
    background: rgba(249, 249, 249, 1);
    border-top-left-radius: 30%; 
    border-top-right-radius: 30%;
}
header {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.nav-list-options ul{
    display: flex;
    height: 4rem;
    width: 45rem;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-list-login  ul{
    height: 4rem;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.nav-list-login {
    width: 60rem;
    margin-right: 6rem;
}
.nav-list-options {
    width: 60rem;    
}
.circle-one {
    position: absolute;
    top: -10rem;
    left: -30rem;
    border-radius: 50%;
    width: 50rem;
    height: 50.4rem;
    background: linear-gradient(327.78deg, rgba(4, 15, 36, 0) 29.53%, rgba(4, 42, 102, 0.79) 48.92%, #042A66 62.56%);
    filter: blur(300px);
    transform: rotate(133.22deg);
}
.circle-two {
    position: absolute;
    top: -20rem;
    right: -24rem;
    border-radius: 50%;
    width: 50rem;
    height: 50.4rem;
    background: linear-gradient(327.78deg, rgba(4, 15, 36, 0) 29.53%, rgba(4, 42, 102, 0.79) 48.92%, #042A66 62.56%);
    filter: blur(300px);
    transform: rotate(-108.02deg);
}
.circle-three {
    width: 50rem;
    height: 50.4rem;
    position: absolute;
    bottom: 0;
    right: -24rem;
    border-radius: 50%;
    background: linear-gradient(327.78deg, rgba(4, 15, 36, 0) 29.53%, rgba(70, 31, 72, 0.79) 48.92%, #461F48 62.56%);
    filter: blur(28rem);
    transform: rotate(-108.02deg);
}
.each-img {
    position: absolute;
    top: 5rem;
    right: 40rem;
}
.middlw-img {
    position: absolute;
    right: 20rem;
    bottom: 19rem;
}
.container-paragraph {
    width: 60rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20rem;
    bottom: 46rem;
}
.title-main {
    font-size: 6.7rem;
    font-weight: 700;    
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
}
.paragraph-main {
    color: #BDBDBD;
    font-weight: 400;
    font-size: 2.7rem;
    line-height: 2rem;
    margin-top: 2rem;
}
.container-search-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.3rem;
    gap: 0.4rem;
    width: 50rem;
    height: 4.3rem;
}
#button-search {
    width: 15rem;
    height: 4rem;
    background: #2EA44F;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.4rem;
    color: #fff;
    font-weight: 300;
}
#input-main {
    width: 30rem;
    height: 4rem;
    background: #FFFFFF;
    border-radius: 1rem;
}
#input-top {
    padding: 1rem 0.9rem 1rem 1.2rem;
    width: 30rem;
    height: 4rem;
    background: #272F43;
    border: 0.02rem solid #A3A3A3;
    border-radius: 1rem
}
a {
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
}
li {
    list-style: none;
    padding: 0.5rem 0.7rem;
}