:root {
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;

}

body {
    background: rgba(5, 16, 39, 1);
    overflow: hidden;
}

main {
    height: 70vh;
    width: 100vw;
}

footer {
    height: 30vh;
    width: 100vw;
    background: white;
}

header {
    height: 7rem;
    width: 100vw;
    display: flex;
    justify-content:space-between;
}

.nav-list-options ul{
    display: flex;
    height: 4rem;
    width: 45rem;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-list-login  ul{
    height: 4rem;
    width: 45rem;
    display: flex;
    justify-content: space-between;
    text-align: right;
    
}

.nav-list-login {
    margin-right: 6rem;
}

.circle {
    border-radius: 50%;
    height: 49rem;
    width: 49.5rem;
}

.circle-one{
    background-color: aquamarine;
    filter: blur(300px);
    transform: rotate(133.22deg);
}

.circle-two {

}

.circle-three {
    
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}
